.loadingContainer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
	height: 100%;

	overflow: hidden;
	background-color: #101010;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.loadingText {
	color: #EFF7F6;

	user-select: none;
}

.loadingLogo {
	min-width: 288px;
	min-height: 96px;
	max-width: 288px;
	max-height: 96px;

	user-select: none;
}

.loadingImage {
	transform: scale(3);
	image-rendering: crisp-edges;
}

.ungaA {
	margin-right: 96px;

	-webkit-animation: friendlyfireA 3s infinite;
	-o-animation: friendlyfireA 3s infinite;
	animation: friendlyfireA 3s infinite;
}

.ungaB {
	-webkit-animation: friendlyfireB 3s infinite;
	-o-animation: friendlyfireB 3s infinite;
	animation: friendlyfireB 3s infinite;
}

@keyframes loadAnim {
	0%, 100% {
		opacity: 1;
		transform: rotate(10deg);
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
		transform: rotate(-10deg);
	}

	75% {
		opacity: 0.5;
	}
}

@keyframes friendlyfireA {
	0%, 100% {
		transform: rotate(10deg) scale(3) translateY(16px);
		-webkit-filter: default;
	}

	25% {
		-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-30deg) saturate(400%) contrast(2);
	}

	50% {
		transform: rotate(-10deg) scale(3) translateY(16px);
		-webkit-filter: default;
	}

	75% {
		-webkit-filter: default;
	}
}

@keyframes friendlyfireB {
	0%, 100% {
		transform: rotate(-10deg) scaleX(-3) scaleY(3) translateY(16px);
		-webkit-filter: default;
	}

	25% {
		-webkit-filter: default;
	}

	50% {
		transform: rotate(10deg) scaleX(-3) scaleY(3) translateY(16px);
		-webkit-filter: default;
	}

	75% {
		-webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-30deg) saturate(400%) contrast(2);
	}
}