.roundBrowser {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
	height: 100%;

	overflow: hidden;
	background-color: #101010;

	color: #EFF7F6;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	user-select: none;
}

.appPresentation {
	position: absolute;
	top: 0;
	width: 100%;
	height: 25%;

	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: #EFF7F6;

	border-bottom: 1px solid #EFF7F6;
}

.appLogo {
	max-width: 192px;
	max-height: 192px;

	margin: 1rem 0;
}

.appTitleFluff {
	margin: 0;

	font-style: italic;
}

.appTitle {
	margin: 0 0 1rem 0;

	font-size: 3em;
	font-weight: bold;
}

.roundTable {
	position: absolute;
	top: 25%;
	width: 80%;

	margin-top: 2em;

	border-collapse: collapse;
	text-align: left;
}

.roundListing {
	font-size: 1.5em;
	color: #E2E2E2;
}

.roundListing:hover {
	color: #EFF7F6;
	background-color: rgb(40, 40, 40, 0.8);

	cursor: pointer;
}

.roundListing td {
	padding: 10px 0 10px 10px;
}

.roundHeaderRow {
	font-size: 2em;
	border-bottom: 2px solid #EFF7F6;
}

.roundHeaderRow th {
	padding-left: 10px;
}
